<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.eu.evidence.rtdruid.oil.core.builderOptions">
      <options
            class="com.eu.evidence.rtdruid.modules.oil.s12.ui.preferencepages.Options">
      </options>
   </extension>

   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.eu.evidence.rtdruid.oil.configurator.preferencePagesID.S12Configurator"
            class="com.eu.evidence.rtdruid.modules.oil.s12.ui.preferencepages.S12Configurator"
            category="com.eu.evidence.rtdruid.oil.preferencePagesID"
            name="Freescale S12">
       </page>
   </extension>

</plugin>
