<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

<!--
	Extentions to CVS
-->
  <extension point="org.eclipse.team.core.fileTypes">
	<fileTypes extension="rtd" type="text"/>
	<fileTypes extension="ertd" type="text"/>
  </extension>

<!--
	Extentions to File types
-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="rtd"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="rtD"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="rTd"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="Rtd"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="rTD"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="RtD"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="RTd"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      <parser type="RTD"  class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
      
      <parser type="ertd" class="com.eu.evidence.rtdruid.vartree.data.init.RTD_XMI_Factory"/>
  </extension>


<!--
	
-->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.evidence.eu.com/rtdruid/data"
            class="com.eu.evidence.rtdruid.vartree.data.DataPackage"/>
   </extension>

<!--
	EMF Factories
-->

   <extension-point
   		id="requiredAdapterFactoriesID"
   		name="required Adapter Factories"
   		schema="schema/com.eu.evidence.rtdruid.core.requiredAdapterFactoriesID.exsd"/>

   <extension
         point="com.eu.evidence.rtdruid.core.requiredAdapterFactoriesID">
      <loader
            class="com.eu.evidence.rtdruid.vartree.data.init.AdapterFactoryLoaderImpl"/>
   </extension>


   <!-- Tasks - ->
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="ant_tasks/rtdruid_ant_task.jar"
            name="rtdruid.Convert"
            class="com.eu.evidence.rtdruid.vartree.data.ant.Convert"/>
   </extension>-->
   <!-- Extra Classpath -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry library="rtdruid_core_ant.jar"/>
   </extension>
   
   <!-- Cheat Sheet -->
<!--
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            name="%cheatsheet.sample.name"
            contentFile="$nl$/cheatsheets/sample.xml"
            id="com.eu.evidence.rtdruid.cheatsheet.sample">
         <description>%cheatsheet.sample.desc</description>
      </cheatsheet>

   </extension>
-->   

<!--
	Object Properties Factories
-->

   <extension-point
   		id="objPropertiesFactoryID"
   		name="required Object Properties Factory"
   		schema="schema/com.eu.evidence.rtdruid.core.objPropertiesFactoryID.exsd"/>
   <extension-point id="data_tranformation" name="RT-Druid data importer and exporter" schema="schema/data_tranformation.exsd"/>
<!--
   <extension
         point="com.eu.evidence.rtdruid.core.objPropertiesFactoryID">
      <objPropertiesFactory
            class="com.eu.evidence.rtdruid.internal.vartree.data.test.ObjPropertiesFactoryTest"/>
   </extension>
-->
	<extension
         point="com.eu.evidence.rtdruid.core.objPropertiesFactoryID">
      <objPropertiesFactory
            class="com.eu.evidence.rtdruid.factory.ObjPropertiesFactoryTest"/>
   </extension>
 <extension
       point="com.eu.evidence.rtdruid.core.data_tranformation">
    <exporter
          case_sensitive="false"
          class="com.eu.evidence.rtdruid.io.RTDXsltImportExport"
          type="rtd">
    </exporter>
    <importer
          case_sensitive="false"
          class="com.eu.evidence.rtdruid.io.RTDXsltImportExport"
          type="rtd">
    </importer>
 </extension>

</plugin>
