<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="erikaLocationListener" name="Erika Enterprise Location Listener" schema="schema/erikaLocationListener.exsd"/>

<!-- Preference Page -->
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.eu.evidence.rtdruid.oil.preferencePagesID"
            category="com.eu.evidence.rtdruid.preferencePagesID"
            class="com.eu.evidence.rtdruid.ui.preferencepages.EmptyPage"
            name="Oil">
       </page>
   </extension>

   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.eu.evidence.rtdruid.oil.eeLocationPreferencePagesID"
            category="com.eu.evidence.rtdruid.oil.preferencePagesID"
            class="com.eu.evidence.rtdruid.internal.modules.oil.ee.ui.preferencepages.ErikaSourcesPreference"
            name="Erika Enterprise">
       </page>
   </extension>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="RT-Druid"
            id="com.eu.evidence.rtdruid.viewersID">
      </category>
      <view
            name="Oil Generators"
            icon="icons/oil_icon.gif"
            category="com.eu.evidence.rtdruid.viewersID"
            class="com.eu.evidence.rtdruid.modules.oil.ui.oilimplementation.OilGeneratorsView"
            id="com.eu.evidence.rtdruid.modules.oil.views.OilGeneratorsID">
      </view>
      <view
            name="Xslt writers configurator"
            icon="icons/oil_icon.gif"
            category="com.eu.evidence.rtdruid.viewersID"
            class="com.eu.evidence.rtdruid.modules.oil.ee.ui.views.RegistredXsltWritersView"
            id="com.eu.evidence.rtdruid.modules.oil.views.XsltWriterConfiguratorViewID">
      </view>
      
   </extension>


   <extension point="org.eclipse.help.toc">
       <toc file="toc.xml" primary="true" />
   </extension>


   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Points to the Erika Enterprise Base directory"
            name="erika_enterprise_location"
            resolver="com.eu.evidence.rtdruid.modules.oil.ee.ui.location.EEBaseDynamicVariableResolver"
            supportsArgument="true">
      </variable>
   </extension>
</plugin>
